<!DOCTYPE html>
<html>
    <head>
        <title>Cars</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <svg id="a" height="750" width="1000" xmlns="http://ww.w3.org/2000/avg">
                 
        </svg>

      
        

    <body>
        
        <button id="circle">circle</button>
	<button id="dvd">dvd</button>
        <button id="clear">pause</button>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script src="{{ url_for('static', filename='svgs.js') }}"></script>
    </body>
</html>
